@model Exemplo1.Models.Cliente

@{
    ViewBag.Title = "Alterar";
}

<h2>Alterar</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(cli => cli.ClienteId)

  <div class="form-group">
      @Html.LabelFor(cli => cli.Nome)
      @Html.EditorFor(cli => cli.Nome)
  </div>        
  <div class="form-group">
      @Html.LabelFor(cli => cli.Idade)
      @Html.EditorFor(cli => cli.Idade)
  </div>        
  

<p><input type="submit" class="btn btn-default" value="Alterar"></p>


}
